win/bin/
win/obj/
win/_ReSharper.h264bsd/
win/ipch/
win/*.sdf
win/*.VC.db
*.user
*.o
node_modules
js/TinyH264.js.map
*.suo
flex/bin/
*.swf
*.swc
.settings
*.xcworkspacedata
*.xcuserstate
xcuserdata
win/Debug/
win/h264bsdTest/Debug/
*.opensdf
.DS_Store
ios/build/
ios/test/build/
posix/include/
posix/bin/
posix/lib/
posix/obj/
test/*.yuv
test/raw/
